/* Universal Styles */
html
body{
  width: 100%;
  margin: auto 0;
  padding: 0;
  font-style: "Helvetica", serif;
  font-size: 16px;
  overflow-x: hidden;
}
/*colors and styles*/
  header{
    background-color: #FFF;
  }
.container1 {
  background-color: rgb(211,211,211);
}
.container2 {
  background-color: rgba(211,211,211, 0.2);
}
.container2-alt {
  background-color: rgba(211,211,211, 0.2);
}
#row1{
  background-color: rgb(211,211,211);
}
.container3 {
  background-color: rgb(211,211,211);
}
.container3-alt {
  background-color: rgb(211,211,211);
}
.container3-alt button{
  background-color: rgb(211,211,211);
  color: darkslategray;
}
#row4-1{
  background-color: rgba(211,211,211, 0.2);
}
.container4{
  background-color: rgba(211,211,211, 0.2);
}
.container4-alt{
  background-color: rgba(211,211,211, 0.2);
}
h1 h2 h3 h5 h6 p span{
  color: rgb(47,79,79);
}
.hover:hover{
  background-color: rgb(211,211,211);
}
.courses{
  background-color: #FFF;
}
#right1 h5{
  background-color: rgb(47,79,79);
  color: #FFF;
}
.spacer{
    border-bottom: solid rgb(211,211,211) 1px;
}
.spacer-top{
  border-top: solid rgb(211,211,211) 1px;
}
video{
    border: solid rgb(211,211,211) 1px;
}

footer{
  background-color: rgba(211,211,211, 0.2);
}
}
footer li a{
  color: rgb(47,79,79);
}
/* Header */
@media only screen and (min-width: 1024px){
header{
  height: 4rem;
  width: 100%;
  margin-top: 0;
  display: inline-flex;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
}
.logo-small{
  display:none;
}
.logo{
  margin: 0;
  display:inline-flex;
  position: fixed;
}
#logo{
  height: 4rem;
  width:auto;
  margin-left:1.5rem;
}
#title-bold{
  font-size: 2rem;
  font-weight:bolder;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#title{
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logo ul{
  width: 100%;
  position: fixed;
  float:right;
  list-style: none;
  right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  text-align: right;
}
.logo li {
  display:inline;
  padding-left: 1rem;
}
}
@media only screen and (max-width: 600px){
header{
  margin:auto;
  width: 100%;
  height:4rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display:none;
}
.logo-small{
  width: auto;
  display:flex;
  padding-top:.5rem;
  padding-bottom:.5rem;
  justify-content: space-between;
}
#logo-small{

}
.logo-small ul{
  list-style: none;

}
.logo-small li {
  display:inline;
  align-items: center;
  padding-left: 4rem;
}
}
@media only screen and (min-width: 601px)and (max-width: 1023px){
header{
  margin:auto;
  width: 100%;
  height:5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display:none;
}
.logo-small img{
  height: 4rem;
  width: auto:
}
.logo-small{
  width: auto;
  display:flex;
  padding-top:.5rem;
  padding-bottom:.5rem;
  justify-content: space-between;
}
#logo-small{

}
.logo-small ul{
  list-style: none;

}
.logo-small li {
  display:inline;
  align-items: center;
  padding-left: 5rem;
}
}
/* Content Section */

.content{
  margin:auto;
  width: 100%;
}

/* First Section*/
@media only screen and (min-width: 1024px){
.container1{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row nowrap;
  align-items: center;
  top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
}
@media only screen and (max-width: 1023px){
.container1{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
}
@media only screen and (min-width: 1024px){
#left1{
  width: 60%;
  height: 60%;
  padding-left: 1.5rem;
  display: flex;
}
#left1 img{
  width:100%;
  height: auto;
  object-fit: cover;
}
#right1 {
  width: 40%;
  padding-left: 1.5rem;
  padding-right: 3rem;
}
#right1 h1{
  font-size: 4rem;
  font-weight: bold;
    text-align: left;
}
#right1 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}
#right1 h5{
  width: 90%;
  font-size: 1rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
}
@media only screen and (max-width: 1023px){
#left1{
  width: 100%;
  height: 50%;
  display: flex;
}
#left1 img{
  width:100%;
  height:50%;
  object-fit: cover;
}
#right1 {
  width: 100%;
}
#right1 h1{
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#right1 h3{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    text-align: left;
}
#right1 h5{
  margin:auto;
  width:80%;
  font-size: 1rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
}
/* Second Section*/
@media only screen and (min-width: 1024px){
.container2-alt{
  display: none;
}
.container2{
  width: 100%;
  display: flex;
  position:relative;
  flex-direction: row nowrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
.container2 h2{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47,79,79);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.container2 h3{
  font-size: 1.5rem;
  font-weight: bold;
}
.container2 p{
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#author{
  font-size: 1rem;
  font-weight: bold;
}
#left2{
  width: 60%;
  height: 60%;
  padding-top: 4rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#left2 img{
  width:100%;
  padding-top: 1rem;
}
#right2 {
  width: 40%;
  padding-top: 4rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#right2 p{
  padding-right: 5rem;
}
#right2a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2a img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
#right2a1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2b{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2b img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
#right2b1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2c{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2c img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
#right2c1{
  width:65%;
  display: flex;
  flex-direction: column;
}
}
@media only screen and (max-width: 1023px){
.container2{
  display:none;
}
.container2-alt{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

}
.container2-alt h2{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.container2-alt h3{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.container2-alt p{
  font-size: 1.5rem;
  line-height:2;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
}
.container2-alt a{
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#left2{
  display: none;
}
#left2 img{
  display:none;
}
#left2 h2{
  display: none;
}
#left2 p{
  display: none;
}
#right2-alt {
  width: 100%;
  height:auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#right2-alt p{
  line-height: 1;
}
#right2a-alt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
#right2a-alt img{
  width: 90%;
  height:auto;
  object-fit: cover;
}
#right2a1-alt{
  width:100%;
  display: flex;
  flex-direction: column;
}
#right2b-alt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
#right2b-alt img{
  width: 90%;
  height:auto;
  object-fit: cover;

}
#right2b1-alt{
  width:100%;
  display: flex;
  flex-direction: column;
}
#right2c-alt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
#right2c-alt img{
  width: 90%;
  height:auto;
  object-fit: cover;

}
#right2c1-alt{
  width:100%;
  display: flex;
  flex-direction: column;
}
}

/* Three Section*/
@media only screen and (min-width: 1024px){
.container3-alt{
  display: none;
}
.container3{
  width: 100%;
  margin:0 auto;
  overflow-x: hidden;
}
.column1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem 4rem;
}
#row1{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}
.container3 h3{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}
.container3 h6{
  font-size: 1rem;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container3 p{
  font-size: 1rem;
  text-align: left;
  padding-bottom: 1.5rem;
}
.row2{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.row2 img{
  width: 100%;
  height:auto;
}
.row2col1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row2 #col1row2{
  min-height: 9rem;
  padding-left: 1rem;
}
.row2col2{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
.row2 #col2row2{
  min-height: 9rem;
  padding-left: 1rem;
}
.row2col3{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row2 #col3row2{
  min-height: 9rem;
  padding-left: 1rem;
}
.row3{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.row3 img{
  width: 100%;
  height:auto;
}
.row3col1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row3 #col1row2{
  min-height: 9rem;
  padding-left: 1rem;
}
.row3col2{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
.row3 #col2row2{
  min-height: 9rem;
  padding-left: 1rem;
}
.row3col3{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row3 #col3row2{
  min-height: 9rem;
  padding-left: 1rem;
}
}
@media only screen and (max-width: 1023px){
.container3{
  display: none;
}
  #row1{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}
.container3-alt{
  padding: 1rem;
}
.container3-alt .button{
  display: block;
  width: 95%;
  margin: .5rem .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
  padding-bottom:1rem;
  padding-left: 1rem;
  border: none;
}
  .row2{
    display: none;
  }
  .row2 img{
    display: none;
  }
  .row2col1{
    display:none;
  }
  .row2 #col1row2{
    display: none;
  }
  .row2col2{
    display: none;
  }
  .row2 #col2row2{
    display: none;
  }
  .row2col3{
    display: none;
  }
  .row2 #col3row2{
    display: none;
  }
  .row3{
    display: none;
  }
  .row3 img{
    display: none;
  }
  .row3col1{
    display: none;
  }
  .row3 #col1row2{
    display: none;
  }
  .row3col2{
    display: none;
  }
  .row3 #col2row2{
    display: none;
  }
  .row3col3{
    display: none;
  }
  .row3 #col3row2{
    display: none;
  }
}
/* Four Section*/
@media only screen and (min-width: 1024px){
.container4-alt{
  display:none;
}
.container4{
  width: 100%;
  display: flex;
  position:relative;
  flex-direction: row nowrap;
  padding-top: 2rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
#row4-1{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
}
.container4 h2{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.container4 h3{
  font-size: 1.5rem;
  padding-right: 5rem;
  font-weight: bold;
}
.container4 p{
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#left4-2{
  width: 60%;
  padding-top: 1rem;
  padding-left: 1.5rem;
}
video{
  width:100%;
  height: auto;
}

#right4-2 {
  width: 40%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#right4-2 p{
  padding-right: 5rem;
}
#right4-2a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right4-2a img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
#right4-2a1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right4-2b{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right4-2b img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
#right4-2b1{
  width:65%;
  display: flex;
  flex-direction: column;
}
}

@media only screen and (max-width: 1023px){
.container4-alt{
  display:flex;
  padding-bottom: 1.5rem;
  border: none;
}
.container4{
  display:none;
}
.container4-alt video{
  height: 100%;
  width: 100%;
  padding: 0;
}
#row4-1{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.container4 h2{
  display: none;
}
.container4 h3{
  display: none;
}
.container4 p{
  display: none;
}
#left4-2{
  display:none;
}
#left4-2 video{
  display:none;
}
#right4-2 {
  display:none;
}
#right4-2 p{
  display:none;
}
#right4-2a{
  display:none;
}
#right4-2a img{
  display:none;
}
#right4-2a1{
  display:none;
}
#right4-2b{
  display:none;
}
#right4-2b img{
  display:none;
}
#right4-2b1{
  display:none;
}
}

/* Footer */
@media only screen and (min-width: 1024px){
footer{
  width: 100%;
  height: 4rem;
  display:inline-flex;
  overflow-x: hidden;
}
footer span{
  width: 100%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
footer ul{
  width: 100%;
  float:right;
  list-style: none;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  text-align: right;
}
footer li {
  display:inline;
  padding-left: 1rem;
}
}
@media only screen and (max-width: 1023px){
footer{
  width: 100%;
  height: 4rem;
  display:inline-flex;
}
footer span{
  width: 100%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
footer ul{
  display:none;
}
footer li {
  display:none;
}
footer li a{
  display:none;
}
}
