/* Universal Styles */
html
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: "Helvetica", serif;
  font-size: 16px;
  overflow-x: hidden;
}

/* Header */
header{
  height: 4rem;
  width: 100%;
  margin-top: 0;
  display: inline-flex;
  position: fixed;
  background-color: #FFF;
  z-index: 2;
}
.logo{
  margin: 0;
  display:inline-flex;
  background-color: #FFF;
  position: fixed;
}
#logo{
  height: 4rem;
  width:auto;
  margin-left:1.5rem;
}
#title-bold{
  font-size: 2rem;
  font-weight:bolder;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#title{
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logo ul{
  width: 100%;
  position: fixed;
  float:right;
  list-style: none;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  text-align: right;
}
.logo li {
  display:inline;
  padding-left: 1rem;
}
/* Content Section */

.content{
  margin:auto;
  width: 100%;
}

/* First Section*/

.container1{
  width: 100%;
  background-color: rgb(211,211,211);
  display: flex;
  position: relative;
  flex-direction: row nowrap;
  align-items: center;
  top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#left1{
  width: 60%;
  height: 60%;
  padding-left: 1.5rem;
  display: flex;
}
#left1 img{
  width:100%;
}
#right1 {
  width: 40%;
  color: darkslategray;
  padding-left: 1.5rem;
  padding-right: 3rem;
}

#right1 h1{
  font-size: 4rem;
  font-weight: bold;
    text-align: left;
}
#right1 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}
#right1 h5{
  width: 90%;
  background-color: darkslategray;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* Second Section*/

.container2{
  width: 100%;
  background-color: rgba(211,211,211, 0.2);
  display: flex;
  position:relative;
  flex-direction: row nowrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container2 h2{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47,79,79);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.container2 h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(47,79,79);
}
.container2 p{
  font-size: 1rem;
  color: rgb(47,79,79);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#author{
  font-size: 1rem;
  font-weight: bold;
  color: rgb(47,79,79);
}
#left2{
  width: 60%;
  height: 60%;
  padding-top: 4rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#left2 img{
  width:100%;
  padding-top: 1rem;
}

#right2 {
  width: 40%;
  padding-top: 4rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#right2 p{
  padding-right: 5rem;
}
#right2a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: solid rgb(211,211,211) 1px;
}
#right2a:hover{
  background-color: rgb(211,211,211);
}
#right2a img{
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}
#right2a1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2b{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: solid rgb(211,211,211) 1px;
}
#right2b:hover{
  background-color: rgb(211,211,211);
}
#right2b img{
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}
#right2b1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2c{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2c:hover{
  background-color: rgb(211,211,211);
}
#right2c img{
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}
#right2c1{
  width:65%;
  display: flex;
  flex-direction: column;
}

/* Three Section*/

.container3{
  width: 100%;
  margin:0 auto;
  background-color: lightgray;
}
.column1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem 4rem;
}
#row1{
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47,79,79);
}

.container3 h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(47,79,79);
  text-align: left;
  padding-top: 1rem;
}
.container3 h6{
  font-size: 1rem;
  color: rgb(47,79,79);
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container3 p{
  font-size: 1rem;
  color: rgb(47,79,79);
  text-align: left;
  padding-bottom: 1.5rem;
}

.row2{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.row2 img{
  width: 100%;
  height:auto;
}
.row2col1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row2 #col1row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
.row2col2{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
.row2 #col2row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
.row2col3{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row2 #col3row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
.row3{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.row3 img{
  width: 100%;
  height:auto;
}
.row3col1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row3 #col1row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
.row3col2{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
.row3 #col2row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
.row3col3{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.row3 #col3row2{
  min-height: 9rem;
  background-color: #FFF;
  padding-left: 1rem;
}
/* Four Section*/

.container4{
  width: 100%;
  background-color: rgba(211,211,211, 0.2);
  display: flex;
  position:relative;
  flex-direction: row nowrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#row4-1{
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47,79,79);
}
.container4 h2{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47,79,79);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.container4 h3{
  font-size: 1.5rem;
  padding-right: 5rem;
  font-weight: bold;
  color: rgb(47,79,79);
}
.container4 p{
  font-size: 1rem;
  color: rgb(47,79,79);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#left4-2{
  width: 60%;
  padding-top: 1rem;
  padding-left: 1.5rem;
}
#left4-2 video{
  width:100%;
  height: auto;
  border: solid rgb(211,211,211) 1px;
}

#right4-2 {
  width: 40%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#right4-2 p{
  padding-right: 5rem;
}
#right4-2a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: solid rgb(211,211,211) 1px;
}
#right4-2a:hover{
  background-color: rgb(211,211,211);
}
#right4-2a img{
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}
#right4-2a1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right4-2b{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right4-2b:hover{
  background-color: rgb(211,211,211);
}
#right4-2b img{
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}
#right4-2b1{
  width:65%;
  display: flex;
  flex-direction: column;
}
footer{
  width: 100%;
  height: 4rem;
  display:inline-flex;
  background-color: rgba(211,211,211, 0.2);
}
footer span{
  width: 100%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  color: rgb(47,79,79);
  border-top: solid rgba(47,79,79,0.5) 1px;
}
footer ul{
  width: 100%;
  float:right;
  list-style: none;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  text-align: right;
  border-top: solid rgba(47,79,79,0.5) 1px;
}
footer li {
  display:inline;
  padding-left: 1rem;
}
footer li a{
  color: rgb(47,79,79);
}
