/* Universal Styles */
html
body{
  margin: 0;
  font-style: "Helvetica", serif;
  font-size: 16px;
}

/* Header */
header{
  height: 4rem;
  width: 100%;
  margin-top: 0;
  display: inline-flex;
  position: fixed;
  background-color: #FFF;
  z-index: 2;
}
.logo{
  margin: 0;
  display:inline-flex;
  background-color: #FFF;
  position: fixed;
}
#logo{
  height: 4rem;
  width:auto;
  margin-left:1.5rem;
}
#title-bold{
  font-size: 2rem;
  font-weight:bolder;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#title{
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
ul{
  position: fixed;
  float:right;
  list-style: none;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  text-align: right;
}
li {
  display:inline;
  padding-left: 1rem;

/* Content Section */

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* First Section*/

}
.container1{
  background-color: lightgray;
  display: flex;
  position: relative;
  flex-direction: row nowrap;
  align-items: center;
  top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#left1{
  width: 60%;
  height: 60%;
  padding-left: 1.5rem;
  display: flex;
}
#left1 img{
  width:100%;
}
#right1 {
  width: 40%;
  color: darkslategray;
  padding-left: 1.5rem;
  padding-right: 3rem;
}

#right1 h1{
  font-size: 4rem;
  font-weight: bold;
    text-align: left;
}
#right1 h3{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}
#right1 h5{
  width: 90%;
  background-color: darkslategray;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* Second Section*/


.container2{
  width: 100%;
  background-color: #FFF;
  display: flex;
  position:relative;
  flex-direction: row nowrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#left2{
  width: 60%;
  height: 60%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#left2 img{
  width:100%;
}
#right2 {
  width: 40%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
#right2a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
#right2a img{
  width: 35%;
  height: 35%;
}
#right2a1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2b{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2b img{
  width: 35%;
  height: 35%;
}
#right2b1{
  width:65%;
  display: flex;
  flex-direction: column;
}
#right2c{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
#right2c img{
  width: 35%;
  height: 35%;
}
#right2c1{
  width:65%;
  display: flex;
  flex-direction: column;
}
